* {
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.containerTable {
  display: flex;
  flex-grow: 4;
  width: 75%;
  margin: 0 auto;
  padding-top: 40px;
  align-items: center;
}

.panel {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: #2433334d;
}

.table {
  flex: 1;
  height: 60vh;
  background-image: radial-gradient(
    rgba(78, 76, 78, 0.89),
    rgba(22, 20, 22, 0.87)
  );
  border-radius: 220px;
  box-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff;
}

.cardsArea {
  border: 3px dashed #86c5cf40;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  top: 47%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
}

.playerArea {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}
