.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.buttons {
  width: 400px;
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.button {
  border: 1px solid #40ffe5;
  border-radius: 25px;
  background: #2d7576;
  margin: 5px 15px;
  text-transform: uppercase;
  padding: 20px 30px;
}


