.player {
  position: absolute;
}

.playerPlace {
  width: 12em;
  height: 15%;
  border: 1px solid #434144;
  background-color: #222222ab !important;
  border-radius: 20px;
}

.playerCard {
  position: absolute !important;
  bottom: 10%;
  left: 9%;
  z-index: -1;
}

.playerAvatar {

}

.playerName {
  padding: 3px;
  text-align: center;
  color: #ffffff;
}

.playerStack {
  padding: 3px;
  text-align: center;
  color: #00fff2;
}

.player:nth-child(1) {
  top: 50%;
  transform: translatex(-60%);
}

.player:nth-child(4) {
  bottom: 0;
  left: 43%;
  transform: translatey(65%);
}

.player:nth-child(9) {
  top: 5%;
  left: 20%;
  transform: translatex(0%) translatey(-55%);
}

.player:nth-child(2) {
  right: 0;
  top: 50%;
  transform: translatex(60%);
}

.player:nth-child(3) {
  right: 0;
  bottom: 0;
  transform: translatex(-10%) translatey(40%);
}

.player:nth-child(5) {
  top: 5%;
  right: 20%;
  transform: translatey(-55%);
}

.player:nth-child(6) {
  bottom: 0;
  left: 0;
  transform: translatex(10%) translatey(40%);
}

.player:nth-child(7) {
  top: 10%;
  transform: translatex(-40%);
}

.player:nth-child(8) {
  top: 10%;
  right: 0;
  transform: translatex(40%);
}

